root@archiso /boot/grub # lsblk -o NAME,PTTYPE,FSTYPE,SIZE,FSUSE%,RO,RM,TYPE,LABEL,MOUNTPOINTS,UUID,STATE
NAME           PTTYPE FSTYPE        SIZE FSUSE% RO RM TYPE  LABEL       MOUNTPOINTS           UUID                                   STATE
loop0                 squashfs    820.6M   100%  1  0 loop              /run/archiso/airootfs                                        
sda            gpt                   64G         0  0 disk                                                                           running
├─sda1         gpt    vfat         61.5G         0  0 part  x-usb-pay                         D0BC-AB71                              
├─sda2         gpt    vfat          100M         0  0 part  x-usb-efi                         D0BA-C628                              
├─sda3         gpt    crypto_LUKS   500M         0  0 part                                    27bba672-e91b-4840-80cc-68b6effa7d84   
│ └─bootfs            ext4          498M    25%  0  0 crypt             /boot                 6ddbdd43-507a-42e5-9005-03f43f916834   running
└─sda4         gpt    ext4            2G         0  0 part  x-usb-iso                         08770501-be60-438e-a938-f75a1f3813fe   
sr0            dos    iso9660       1.1G   100%  0  1 rom   ARCH_202501 /run/archiso/bootmnt  2025-01-01-08-45-10-00                 running
nvme0n1        gpt                  200G         0  0 disk                                                                           live
└─nvme0n1p1    gpt    btrfs         200G         0  0 part  x-data                            a50d1ac5-499d-49ad-ac9e-391c6e24a7ae   
  └─rootfs            LVM2_member 199.5G         0  0 crypt                                   X4UQoG-phZ5-kAkb-CGhj-1phf-73HK-TnwEwf running
    ├─lvm-root        ext4          120G         0  0 lvm                                     2a5e1880-51aa-47db-a5fd-b7dcb600b0dc   running
    └─lvm-ext         ext4         79.5G         0  0 lvm                                     782b4ec7-9e1d-4e09-bf13-e76122a4e132   running
  

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Arch Linux' --class arch --class gnu-linux --class gnu --class os $menuentry_id_option 'gnulinux-simple-/dev/mapper/lvm-root' {
  load_video
  set gfxpayload=keep
  insmod gzio
  insmod part_gpt
  insmod cryptodisk
  insmod luks
  insmod gcry_rijndael
  insmod gcry_rijndael
  insmod gcry_sha512
  insmod ext2
  cryptomount -u 27bba672-e91b-4840-80cc-68b6effa7d84
  set root='cryptouuid/27bba672e91b484080cc68b6effa7d84'
  if [ x$feature_platform_search_hint = xy ]; then
    search --no-floppy --fs-uuid --set=root --hint='cryptouuid/27bba672e91b484080cc68b6effa7d84'  6ddbdd43-507a-42e5-9005-03f43f916834
  else
    search --no-floppy --fs-uuid --set=root 6ddbdd43-507a-42e5-9005-03f43f916834
  fi
  echo  'Loading Linux linux ...'
  linux /vmlinuz-linux root=/dev/mapper/lvm-root rw  loglevel=3 quiet
  echo  'Loading initial ramdisk ...'
  in





#
# DO NOT EDIT THIS FILE
#
# It is automatically generated by grub-mkconfig using templates
# from /etc/grub.d and settings from /etc/default/grub
#

### BEGIN /etc/grub.d/00_header ###
insmod part_gpt
insmod part_msdos
if [ -s $prefix/grubenv ]; then
  load_env
fi
if [ "${next_entry}" ] ; then
   set default="${next_entry}"
   set next_entry=
   save_env next_entry
   set boot_once=true
else
   set default="0"
fi

if [ x"${feature_menuentry_id}" = xy ]; then
  menuentry_id_option="--id"
else
  menuentry_id_option=""
fi

export menuentry_id_option

if [ "${prev_saved_entry}" ]; then
  set saved_entry="${prev_saved_entry}"
  save_env saved_entry
  set prev_saved_entry=
  save_env prev_saved_entry
  set boot_once=true
fi

function savedefault {
  if [ -z "${boot_once}" ]; then
    saved_entry="${chosen}"
    save_env saved_entry
  fi
}

function load_video {
  if [ x$feature_all_video_module = xy ]; then
    insmod all_video
  else
    insmod efi_gop
    insmod efi_uga
    insmod ieee1275_fb
    insmod vbe
    insmod vga
    insmod video_bochs
    insmod video_cirrus
  fi
}

if loadfont unicode ; then
  set gfxmode=auto
  load_video
  insmod gfxterm
fi
terminal_input console
terminal_output gfxterm
if [ x$feature_timeout_style = xy ] ; then
  set timeout_style=menu
  set timeout=5
# Fallback normal timeout code in case the timeout_style feature is
# unavailable.
else
  set timeout=5
fi
### END /etc/grub.d/00_header ###

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Arch Linux' --class arch --class gnu-linux --class gnu --class os $menuentry_id_option 'gnulinux-simple-/dev/mapper/lvm-root' {
    load_video
    set gfxpayload=keep
    insmod gzio
    insmod part_gpt
    insmod cryptodisk
    insmod luks
    insmod gcry_rijndael
    insmod gcry_rijndael
    insmod gcry_sha256
    insmod ext2
    cryptomount -u cd6583b0-3b0f-4562-8d78-c3612daf2be5
    set root='cryptouuid/cd6583b03b0f45628d78c3612daf2be5'
    if [ x$feature_platform_search_hint = xy ]; then
      search --no-floppy --fs-uuid --set=root --hint='cryptouuid/cd6583b03b0f45628d78c3612daf2be5'  5b4099ac-d5a2-4c84-980d-35a8cbfc2879
    else
      search --no-floppy --fs-uuid --set=root 5b4099ac-d5a2-4c84-980d-35a8cbfc2879
    fi
    echo    'Loading Linux linux ...'
    linux   /vmlinuz-linux root=/dev/mapper/lvm-root rw  loglevel=3 quiet
    echo    'Loading initial ramdisk ...'
    initrd  /intel-ucode.img /initramfs-linux.img
}
submenu 'Advanced options for Arch Linux' $menuentry_id_option 'gnulinux-advanced-/dev/mapper/lvm-root' {
    menuentry 'Arch Linux, with Linux linux' --class arch --class gnu-linux --class gnu --class os $menuentry_id_option 'gnulinux-linux-advanced-/dev/mapper/lvm-root' {
        load_video
        set gfxpayload=keep
        insmod gzio
        insmod part_gpt
        insmod cryptodisk
        insmod luks
        insmod gcry_rijndael
        insmod gcry_rijndael
        insmod gcry_sha256
        insmod ext2
        cryptomount -u cd6583b0-3b0f-4562-8d78-c3612daf2be5
        set root='cryptouuid/cd6583b03b0f45628d78c3612daf2be5'
        if [ x$feature_platform_search_hint = xy ]; then
          search --no-floppy --fs-uuid --set=root --hint='cryptouuid/cd6583b03b0f45628d78c3612daf2be5'  5b4099ac-d5a2-4c84-980d-35a8cbfc2879
        else
          search --no-floppy --fs-uuid --set=root 5b4099ac-d5a2-4c84-980d-35a8cbfc2879
        fi
        echo    'Loading Linux linux ...'
        linux   /vmlinuz-linux root=/dev/mapper/lvm-root rw  loglevel=3 quiet
        echo    'Loading initial ramdisk ...'
        initrd  /intel-ucode.img /initramfs-linux.img
    }
    menuentry 'Arch Linux, with Linux linux (fallback initramfs)' --class arch --class gnu-linux --class gnu --class os $menuentry_id_option 'gnulinux-linux-fallback-/dev/mapper/lvm-root' {
        load_video
        set gfxpayload=keep
        insmod gzio
        insmod part_gpt
        insmod cryptodisk
        insmod luks
        insmod gcry_rijndael
        insmod gcry_rijndael
        insmod gcry_sha256
        insmod ext2
        cryptomount -u cd6583b0-3b0f-4562-8d78-c3612daf2be5
        set root='cryptouuid/cd6583b03b0f45628d78c3612daf2be5'
        if [ x$feature_platform_search_hint = xy ]; then
          search --no-floppy --fs-uuid --set=root --hint='cryptouuid/cd6583b03b0f45628d78c3612daf2be5'  5b4099ac-d5a2-4c84-980d-35a8cbfc2879
        else
          search --no-floppy --fs-uuid --set=root 5b4099ac-d5a2-4c84-980d-35a8cbfc2879
        fi
        echo    'Loading Linux linux ...'
        linux   /vmlinuz-linux root=/dev/mapper/lvm-root rw  loglevel=3 quiet
        echo    'Loading initial ramdisk ...'
        initrd  /intel-ucode.img /initramfs-linux-fallback.img
    }
}

### END /etc/grub.d/10_linux ###

### BEGIN /etc/grub.d/20_linux_xen ###
### END /etc/grub.d/20_linux_xen ###

### BEGIN /etc/grub.d/25_bli ###
if [ "$grub_platform" = "efi" ]; then
  insmod bli
fi
### END /etc/grub.d/25_bli ###

### BEGIN /etc/grub.d/30_os-prober ###
### END /etc/grub.d/30_os-prober ###

### BEGIN /etc/grub.d/30_uefi-firmware ###
if [ "$grub_platform" = "efi" ]; then
    fwsetup --is-supported
    if [ "$?" = 0 ]; then
        menuentry 'UEFI Firmware Settings' $menuentry_id_option 'uefi-firmware' {
            fwsetup
        }
    fi
fi
### END /etc/grub.d/30_uefi-firmware ###

### BEGIN /etc/grub.d/40_custom ###
# This file provides an easy way to add custom menu entries.  Simply type the
# menu entries you want to add after this comment.  Be careful not to change
# the 'exec tail' line above.
### END /etc/grub.d/40_custom ###

### BEGIN /etc/grub.d/41_custom ###
if [ -f  ${config_directory}/custom.cfg ]; then
  source ${config_directory}/custom.cfg
elif [ -z "${config_directory}" -a -f  $prefix/custom.cfg ]; then
  source $prefix/custom.cfg
fi
### END /etc/grub.d/41_custom ###
